.clip{
    background-color: hotpink;
    width: 400px;
    height: 400px;
    /* clip-path: circle(50% at 50% 50%); */
    /* clip-path: inset(20% 20% 20% 20% round 20px); */
    /* clip-path: ellipse(40% 20% at top); */
    clip-path: polygon(50% 0%,100% 50%, 50% 100%,0% 50%);
    
}

