.static{
    background-color: yellow;
    position: static;
    top: 50px;
    left: 100px;
    z-index: 10;
}
.relative{
    background-color: turquoise;
    position: relative;
    width: 300px;
    height: 50px;
    /* top: 100px; */
    /* left: 100px; */
}
.absolute{
    background-color: tomato;
    width: 200px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;

}
.relativo-padre{
    background-color: khaki;
    width: 600px;
    height: 200px;
    position: relative;
}
.absolute-hijo{
    background-color: lightcoral;
    width: 100px;
    height: 50px;
    position: absolute;
    /* top: 100px;
    left: 100px; */
    bottom: 0;
    right: 0;
}
.fixed{
    background-color: lightgreen;
    width: 300px;
    height: 100px;
    position: fixed;
    top: 30px;
    left: 400px;
    z-index: -10;
}
.sticky{
    background-color: lightblue;
    position: sticky;
    top: 50px;
}