section{
    width: auto;
     height: 700px; 
    border: 2px solid black;
    padding: 5px;
    display: flex;
   /*  flex-direction: row;
    flex-wrap: wrap-reverse; */
    flex-flow: row wrap;
    justify-content: center;
   align-items: flex-start; 
/*      align-content: flex-start; */
}

.cajas{
    border: 4px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px;
    margin: 10px;
}
.red{
    background-color: red;
    /* flex-grow: 1; */
/*     order: 1;
 */}
.blue{
    background-color: blue;
   /*  height: 150px; */
    /* font-size: 3em; */
    /* flex-grow: 2; */
    align-self: center;
}
.yellow{
    background-color: yellow;
    /* flex-grow: 3; */
/*     order: -1;
 */
    align-self: flex-end;
}
.green{
    background-color: green;

}