*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}
body{
    min-height: 400vh;
}
.container{
    outline: 2px solid crimson;
    height: 500px;
    width: 90%;
    margin: 60px auto;
}

.element{
    background-color: steelblue;
    width: 150px;
    height: 150px;
    color: white;
    padding:10px;
    /* transform: translateX(-50px); */
/*     transform: translateY(50%);*/    
/*     transform: translate(100px);
    transition: transform 1s ease; */
    /* transform: scale(-2); */
    /* transition: transform 1s ease; */
/*     transform: skewX(30deg);
 */    
    transform: scale(0.5) translate(200px);
}


 .container:hover .element{
/* transform: translate(300px); */
    /* transform: rotate(36deg); */
}