@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --padding-container: 80px 0;
    --color-primary: #f77062;
    --color-secundary: #1b998b;
    --color-bg:#fafafa;
    --align-title:center;
    --box-shadow:0 0 12px rgba(0,0,0,0.2);
}

body{
    font-family: "Lato","sans-serif";
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-container);
}

/* ENCABEZADO */

header{
    height: 100vh;
    background-image: linear-gradient(to top,#f77062 0%,#fe5196 100%);   
}

header > section{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header figure{
    width: 45%;
    margin: 0;
}

header img{
    max-width: 80%;
}
header > section > article{
    width: 45%;
    color: #fff;
}
header h1{
    font-size: 4rem;
}
header h2{
    font-size: 1.5rem;
    font-weight: 300;
}

/* Sección About */
.title{
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 40px;
    color: var(--color-primary);
    text-align: var(--align-title);

}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about figure{
    width: 45%;
    margin: 0;
}

.about img{
    max-width: 80%;
}
.about article{
    width: 50%;
}
.about p{
    line-height: 1.5;
}
.about a{
    display: inline-block;
    margin-top: 20px;
    background-color: var(--color-primary);
    padding: 20px 40px;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid transparent;
}
.about a:hover{
    background-color: #fff;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

/* Sección portfolio */

.porfolio{
    background-color: var(--color-bg);
}

.porfolio_cards{
    width: 27%;
    background-color: #fff;
    height: auto;
    box-shadow: var(--box-shadows);
    border-radius: 10px;
}

.porfolio img{
    width: 100%;
    display: block;
    height: 200px;
    border-radius: 10px 10px 0 0 ;
    object-fit: cover;
}
.porfolio_texts{
    padding: 30px 20px 40px;
    text-align: center;
    color: var(--color-secundary);
    margin: 0;
}

.porfolio p{
    font-weight: 300;
    margin: 30px 0;
}
.porfolio a{
    display: block;
    background-color: var(--color-secundary);
    padding: 15px 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
}

.porfolio_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.central{
    background-color: var(--color-primary);
}

.central article h2{
    color: #fff;
    margin: 0;
}

/* Sección Galeria */

.gallery article{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery_pricture {
width: 30%;
height: 250px;
object-fit: cover;
margin-bottom: 20px;
display: block;
border-radius: 5px;
box-shadow: var(--box-shadow);
}

/* Sección  languages */
.languages{
    background-color: var(--color-bg);
}
.languages article{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.languages img{
    width: 20%;
    height: 100px;
}


/* Footer */

footer{
    background-color: var(--color-primary);
    color: #fff;
    text-align: center;
}

footer .title{
    color: #fff;
}

footer section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer article{
    width: 50%;

}
.footer__icon{
    display: inline-block;
    font-size: 2rem;
    margin: 0 30px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 30px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5em;
   /*  width: 60px;
    height: 60px;  */   
}

.footer__icon:hover{
    background-color: white;
    color: var(--color-primary);
    cursor:grab;
}
footer nav > a{
    display: inline-block;
    color: #fff;
    margin: 0 20px;
    margin-bottom: 20px;
}

footer nav > a:hover{
    text-decoration: none;
}

footer figure{
    width: 35%;
}
footer img{
    width: 90%;
}